<% include partials/header %>
<% include partials/nav %>

<header>
  <div class="jumbotron">
  <h1 class="display-4">The Cook Book</h1>
  <p class="lead">To satisfy every craving, this is your one stop shop for recipes by chefs and home-cooks around the world.</p>
  <a class="btn btn-primary btn-lg" href="/recipes/new" role="button">Add your recipe</a>
</div>
</header>

<div class="container">
  <div class="row">
    <div class="card-deck">
      <% recipes.forEach(function(recipe){ %>
            <div class="col-sm-6 col-md-4">
              <div class="card text-center my-2 align-items-center" style="margin: 0">
                <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.name %>" style="width: 15rem">
                <div class="card-body">
                  <h5 class="card-title"> <%= recipe.name %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
      <% }); %>
    </div>
  </div>
</div>

<% include partials/footer %>
