<% include partials/header %>
<% include partials/nav %>

<header>
  <div class="jumbotron">
  <h1 class="display-4">Add To The Cook Book</h1>
  <p class="lead">A litle butter, a little love and we're ready to create Magic! </p>
</div>
</header>

<div class="container" style="width: 55%;">
  <form action="/recipes" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Name your recipe!">
    </div>
    <div class="form-group">
      <input type="hidden" name="text">
      <div id="editor" style="height: 150px;"></div>
        <!-- <textarea class="form-control" placeholder="Make some magic!" id="editor" name="text"></textarea> -->
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block"> submit </button>
    </div>
  </form>
</div>
<a href="/recipes"> Back to all recipes </a>

<% include partials/footer %>
