nav.navbar.bg-dark{
  background-color: orange !important;
}

img {
  width: 100%;
}

/* Styles to match the theme */

hr.theme {
    height: 5px;
    border: 0;
    box-shadow: inset 0 9px 9px -3px orange;
    width: 50px;
    text-align: left;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*Styles for all recipes */
.card:hover {
box-shadow: 0px 2px 9px -1px orange;
}

.container.index{
  width: 80%;
}

.badge{
  font-size: 1em;
  margin: 3px;
}


/*Styles for the SHOW page for each recipe */

.comments.show {
  background-color: lightgrey;
}

.btn.show{
  background-color: orange;
}

a.btn.show{color: white;}

.addComment.show{
  border: 1px solid orange;
  padding: 10px;
}

.show-text{
  line-height: 2rem;
  font-size: 1.3rem;
}

.delete{
  cursor: pointer;
}

.show-text li {
  padding-bottom: 15px;
}

.media-body.comment{
  border-bottom: 1px solid orange;
  padding-bottom: 10px;
}

.btn.comment{
 color: orange;
 border: none;
 text-decoration: none
}

.btn.comment:hover{
  color: black;
}
